<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="menu/layout">
    <head>
        <title>Acceuil</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    </head>
    <body>
        <h2 layout:fragment="h2title">Tableau de bord</h2>
        <div layout:fragment="content" class="x_content" style="height: 450px;">
            
            <h3 class="text-center">BIENVENUE SUR LA PLATEFORME DE GESTION DES SOUTIENS DES ETUDIANTS DE SUPINFO</h3>
            
        </div>
    </body>
</html>
