<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="menu/layout">
    <head>
        <title>Liste des coachig</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    </head>
    <body>
        <h2 layout:fragment="h2title">Liste des demandes de soutiens</h2>
        <div layout:fragment="content" class="x_content table-responsive" ng-controller="listDemandesSoutiensController">          
            <div ng-show="pageDemandes.content.length === 0">
                <h3>Aucune demande enrégistrée</h3>
                <div ng-show="error2 === true" class="alert alert-danger alert-dismissible col-md-12" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>Erreur! &nbsp;</strong> {{errormsg}}
                </div>
                
                <div class="title_right">
                    <div class="col-md-3 col-sm-3 col-xs-12 form-group pull-right hide">
                        <button ng-click="actualiserListe();" class="btn btn-primary" type="button">Actualiser la liste</button>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12 form-group pull-left">
                        <select ng-change="displayElements();" class="form-control" ng-options="s.name for s in data.availableOptions track by s.id"
                                ng-model="data.selectedOption">
                        </select>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12 form-group pull-right">
                        <select ng-change="displayDemandesElements();" class="form-control" ng-options="s.name for s in demande.availableOptions track by s.id"
                                ng-model="demande.selectedOption">
                        </select>
                    </div>

                </div>
                
                <div ng-show="error === true" class="alert alert-success alert-dismissible col-md-12" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>Réussi! &nbsp;</strong> {{errormsg}}
                </div>
            </div>
            <div ng-show="pageDemandes.content.length > 0">
                <div ng-show="error2 === true" class="alert alert-danger alert-dismissible col-md-12" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>Erreur! &nbsp;</strong> {{errormsg}}
                </div>

                <div class="title_right">
                    <div class="col-md-3 col-sm-3 col-xs-12 form-group pull-right hide">
                        <button ng-click="actualiserListe();" class="btn btn-primary" type="button">Actualiser la liste</button>
                    </div>

                    <div class="col-md-3 col-sm-3 col-xs-12 form-group pull-left">
                        <select ng-change="displayElements();" class="form-control" ng-options="s.name for s in data.availableOptions track by s.id"
                                ng-model="data.selectedOption">
                        </select>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12 form-group pull-right">
                        <select ng-change="displayDemandesElements();" class="form-control" ng-options="s.name for s in demande.availableOptions track by s.id"
                                ng-model="demande.selectedOption">
                        </select>
                    </div>

                </div>

                <div ng-show="error === true" class="alert alert-success alert-dismissible col-md-12" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>Réussi! &nbsp;</strong> {{errormsg}}
                </div>

                <table id="" class="table table-striped responsive-utilities jambo_table bulk_action">
                    <thead>
                        <tr class="headings">
                            <th class="hide">
                                <input type="checkbox" id="check-all" class="flat"/>
                            </th>
                            <th class="column-title hide">Id </th>
                            <th class="column-title">Id Booster </th>
                            <th class="column-title">Etudiant </th>
                            <th class="column-title">Matière </th>
                            <th class="column-title">Promotion </th>
                            <th class="column-title">Etat demande </th>
                            <th class="column-title no-link last hide"><span class="nobr">Action</span></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr ng-repeat="d in pageDemandes.content">
                            <td class="a-center hide">
                                <input class="flat" type="checkbox" name="table_records"/>
                            </td>
                            <td class="  hide">{{d.id}}</td>
                            <td class=" ">{{d.etudiantId.idBooster}}</td>
                            <td class=" ">{{d.etudiantId.nom}} {{d.etudiantId.prenom}}</td>
                            <td class=" ">{{d.matiereId.codeMatiere}}</td>
                            <td class=" ">{{d.matiereId.promotionId.codePromotion}}</td>
                            <td class=" ">
                                <span ng-show="d.etatDemande === true" class="badge badge-success">
                                    Accepté 
                                </span>
                                <span ng-show="d.etatDemande === false" class="badge badge-primary">
                                    En cours
                                </span>
                            </td>
                            <td class=" last hide">
                                <button ng-show="afficherAnnulerBtn(c);" ng-click="afficherConfirmationModal(d);" class="btn btn-xs btn-danger">
                                    <i class="fa fa-backward"></i> Annuler
                                </button>
                                <button ng-show="d.validerParStaff !== 1" ng-click="afficherConfirmationModal(d);" class="btn btn-xs btn-success">
                                    <i class="fa fa-check"></i> Valider
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div class="container">
                    <ul class="row nav nav-pills pull-right">
                        <li class="clickable" ng-class="{active:$index === page}" ng-repeat="p in pages track by $index">
                            <a ng-click="goToPage($index)">{{$index}}</a>
                        </li>
                    </ul>
                </div>

                <div class="modal fade top10" id="confirm-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title">Confirmation</h4>
                            </div>
                            <div class="modal-body">
                                <h4 class="txtCenter">{{confirmmsg}}</h4>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Non</button>
                                <button type="button" ng-click="validerOuRejetterMatiere();" class="btn btn-danger">Oui</button>
                            </div>
                        </div><!-- /.modal-content -->
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>